body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: auto smooth;

}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.main {
 background-color: #00CCC0;
}

.socials {
    background-color: #72F2EB;
}

h1 {
    margin-top: 30px;
    font-size: 150px;
    font-family: Helvetica, sans-serif;
    color: #FF4858;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.grid {
    margin-top: 40%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px 20px;
}

.grid-item {
    text-align: center;
}

.grid-item a i {
    color: #1B7F79;
    text-decoration: none;
    font-size: 150px;
}

@media (max-width: 650px) {
    
    h1 {
        font-size: 110px;
    }

    .grid {
        margin-top: 15%;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 150px);
        grid-gap: 10px 20px;
    }

    .grid-item a i {
        color: #1B7F79;
        text-decoration: none;
        font-size: 100px;
    }



}